.about-title {
    text-align: center;
}

.about-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.about-pic {
    justify-self: center;
}

.headshot {
    width: 350px;
    height: auto;
    border-radius: 10px;
}

.about-text {
    justify-self: center;
    align-self: center;
    width: 75%;
    background-color: white;
    padding: 10px;
    border-radius: 5px;
}

.purple {
    color: rgb(168, 168, 253);
}
