.splash-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    margin: 40px 0px;
}

.splash-info {
    text-align: center;
    align-self: center;
    justify-content: flex-start;
}
