.button {
    border-radius: 15px;
    text-decoration: none;
    color: white;
    padding: 6px;
    width: fit-content;
}

.yellow {
    border: 2px solid #d2bf55;
    background-color: #d2bf55;
}

.yellow:hover {
    background-color: #bba631;
    border: 2px solid #bba631;
    cursor: pointer;
}

.blue {
    border: 2px solid cornflowerblue;
    background-color: cornflowerblue;
    margin-top: 5px;
}

.blue:hover {
    background-color: #0047ab;
    border: 2px solid #0047ab;
    cursor: pointer;
}

.pink {
    background-color: #af728e;
    border: 2px solid #af728e;
}

.pink:hover {
    background-color: #704C5E;
    border: 2px solid #704C5E;
}

.warning {
    background-color: #cb4154;
    border: 2px solid #cb4154;
}

.warning:hover {
    background-color: #8d2e3a;
    border: 2px solid #8d2e3a;
}
