.button {
    border-radius: 15px;
    text-decoration: none;
    color: white;
    padding: 5px;
    /* margin: 5px; */
    width: fit-content;
}

.yellow {
    border: 2px solid #d2bf55;
    background-color: #d2bf55;
}

.blue {
    border: 2px solid cornflowerblue;
    background-color: cornflowerblue;
    margin-top: 5px;
}
