.no-decor {
    text-decoration: none;
}

.two-col-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    margin: 40px 0px;
}

.two-col-info {
    text-align: center;
    align-self: center;
    justify-content: flex-start;
}

.thumbnail-details {
    list-style: none;
    color: black;
}

.link {
    color: #558B6E;
}

/* .hidden {
    opacity: 0;
}

.fade-in {
    opacity: 1;
    transition: opacity 3s;
}

.fade-in-slow {
    opacity: 1;
    transition: opacity 5s;
} */

.fade-in-text {
    animation: fadeInFast 5s;
}

@keyframes fadeInFast {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

.fade-in-image {
    animation: fadeInSlow 7s;
}

@keyframes fadeInSlow {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

.simple-center-div {
    display: flex;
    flex-direction: column;
    align-items: center;
}
