.required {
    color: #cb4154;
}

.form-container {
    margin: 25px;
}

.form-heading {
    margin-top: 10px;
    margin-bottom: 5px;
}

form {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 20px;
    box-shadow: 0px 0px 5px lightgray;
    width: 100%;
    border-radius: 10px;
}

label {
    display: block;
    flex-direction: column;
}

input {
    max-width: 100%;
    width: 75%;
}

textarea {
    max-width: 100%;
    width: 75%;
    height: 50px;
    resize: none;
}

.file-input-label {
    margin-top: 8px;
}

.file-input {
    margin-bottom: 8px;
    display: none;
}

.file-input-button {
    cursor: pointer;
    margin: 15px 0px;
}

.image-span {
    font-size: 14px;
}

.fa-check {
    color: #558B6E;
    margin: 0px 10px;
    font-size: 22px;
}

.radio-container {
    display: flex;
}

.no-list-style {
    list-style: none;
}

.no-padding {
    padding: 0;
}
