/* TODO Add site wide styles */
#root {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    position: relative;
}

html {
    background-color: #fef9ef;
}

body {
    margin: 0;
    font-family: 'Roboto';
    font-size: 18px;
    height: 100%;
}

.playfair {
    font-family: 'Playfair Display';
}

h1 {
    display: flex;
    justify-content: center;
    margin: 40px 0px;
    font-family: 'Playfair Display';
}

#main-content {
    margin-bottom: 350px;
    width: 80%;
}
