.bunny-profile-pic{
    width: 60%;
    height: 60%;
    height: auto;
    align-self: center;
    justify-self: center;
}

.bunny-pic {
    width: 100%;
    height: auto;
    object-fit: fill;
    border-radius: 5px;
}

.bunny-details {
    align-self: center;
    width: 80%;
    background-color: white;
    border-radius: 5px;
    padding-right: 40px;
    inline-size: 450px;
    overflow-wrap: break-word;
    justify-self: center;
}

.org-name{
    color: cornflowerblue;
}

.edit-bun-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.edit-bun-buttons {
    display: flex;
    justify-content: space-between;
    width: 30%;
    margin-top: 10px;
}
