.nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 10px;
    background-color: #558B6E;
}

.nav-container {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    width: 90%;
    padding: 15px;
}

#logo-pic {
    width: 50px;
    height: auto;


}

.logo {
    color: white;
    font-size: 22px;
}

.nav-links-container {
    width: 20%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.nav-link {
    color: white;
}

.nav-link:hover {
    color:black
}
